password: yourPassword
username: yourUsername (password and username aren't needed - you'll be prompted when they are missing)
type: md or html
subreddits:
    subreddit1:
        restrict_to:
            - filesHere
            - will/be/uploaded
            - others
            - won't
    subreddit2:
        folder: 'foldername/to/use/if/not/subredditname'
    subreddit3:
        folder: 'this/works/also/with/restrict_to'
        restrict_to:
            - some
            - files
